{% extends 'base.html' %}

{% block content %}
<h1 style="font-family: Arial, Helvetica, sans-serif;">Joe Records</h1>

<table style="font-family: Arial, Helvetica, sans-serif; font-size: 16px;">
  <thead>
    <tr>
      <th>Disc</th>
      <th>Artist</th>
      <th>Label</th>
      <th>Release</th>
    </tr>
  </thead>
  <tbody>
    {% for status in rec  %}
    <tr>
      <td>
        <a href="{% url 'credits' status.id %}">{{ status.disc }}</a>
      </td>
      <td>{{ status.artist }}</td>
      <td>{{ status.label }}</td>
      <td>{{ status.release |date:'Y/m/d' }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
