{% extends 'base.html' %}

{% block content %}
<h1>Joe Records</h1>
<br><br>

<table class="table">
  <thead>
    <tr>
      <th style="text-align: left;">Disc</th>
      <th style="text-align: left;">Artist</th>
      <th style="text-align: left;">Label</th>
      <th style="text-align: left;">Release</th>
    </tr>
  </thead>
  <tbody>
    {% for status in rec  %}
    <tr>
      <img src="{{ cred.picture.url }}" style="max-width: 50px; height: auto;">
      <td style="text-align: left;">
        <a href="{% url 'credits' status.id %}">{{ status.disc }}</a>
      </td>
      <td style="text-align: left;">{{ status.artist }}</td>
      <td style="text-align: left;">{{ status.label }}</td>
      <td style="text-align: left;">{{ status.release |date:'Y/m/d' }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
